<<<<<<< HEAD
h1,h2,h3,h4,h5,h6,span,section {
    text-align: center;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
=======
@font-face {
    font-family: EasyProf;
    src: url("Fonts/210 Sumusaleuibom L.ttf");
    font-weight:400;
}

body {
	margin: 0px 0px 0px 0px;
	background-color: black;
	background-image: url("Textures/Background 2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	cursor: default;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
}

center {
	
	position: fixed;
	right: 0px;
	left: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15.5vw;
	z-index: 11;
	user-select: none;
	
}

button:focus {
	
	outline:0;

}

center.loadingScreen {
	
	position: fixed;
	right: 0px;
	left: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vw;
	user-select: none;
	
>>>>>>> parent of 8073b73... Content menu v0.1
}

h2.navigationText {
    position:relative;
    width: 260px;
    display:inline-block;
    margin-bottom: 6px;
    margin-top: 2px;
}

div.sectionArea {
    position:absolute;
    left: 0px;
    right: 0px;
    height:100vh;
}

div.ghostButton {
    position:relative;
    display:inline-block;
    border: 3px solid rgba(255,255,255,0.5);
    top: 10px;
    border-radius: 6px;
    transition-duration: 0.35s;
    cursor: pointer;
    color: rgba(255,255,255,0.75);
}

div.ghostButton:hover {
    background-color: rgba(255,255,255,0.25);
    border: 3px solid rgba(255,255,255,0.75);
    color: white;
}

#productIntroSection {
    top: 0vh;
}

<<<<<<< HEAD
#productSelectionSection {
    top: 100vh;
=======
.youtubeMusicPanel {
	
	position: fixed;
	left: -280px;
	bottom: 5vh;
	width: 320px;
	height: 160px;
	z-index: 11;
	border-radius: 0px 10px 10px 0px;
	background-color: rgba(255, 255, 255, 0.2);
	opacity: 1;
	transition: left 1s;
	border: 1px solid white;
	border-left: 2px;
	box-shadow: 0px 0px 20px 8px black;
	
>>>>>>> parent of 005ca3d... Visuals update
}

#productImageSection {
    top: 200vh;
}

#productDescriptionSection {
    top: 300vh;
}

div.innerSectionArea {
    position: relative;
    float: top;
    display: block;
    width: calc(100% - 160px);
    left:80px;
    height:100%
}

div.navigationButton {
    position:relative;
    width: 260px;
}

a:link {
    color: #D21034
}

a:visited {
    color: #D21034;
}

a:hover {
    color: #D21034;
}

a:active {
    color: #D21034;
}