
* {
    box-sizing: border-box;
    font-family: "Verdana";
    color: #cc9933;
}

body {
    margin: 0px;
    background-color: #02161E;
}

div.banner_wrapper {
    background-color: rgba(0,0,0,.8);
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.banner_wrapper div.banner {
    width: 640px;
    height: 140px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    border: solid black 1px;
    background-size: cover;
    background-position: center;
    background-image: url(http://dutchfurcon.com/img/banner.png);
}

.banner_footer {
    margin: auto;
    width: 640px;
    text-align: center;
}

.background {
    background-size: cover;
    background-image: url("http://dutchfurcon.com/img/bg.png");
    background-color: rgba(0,0,0,.8);
    background-blend-mode: multiply;
}

main {
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    z-index: 1;
    width: 800px;
    height: 100%;
}

main .title {
    margin-top: 60px;
    margin-bottom: 20px;
}

main * {
    display: inline-block;
    width: 100%;
}

div.timer_page {
    position: relative;
    border-radius: 8px;
    padding: 20px;
    background: rgba(0,0,0,0.8);
    display: block;
    margin: auto;
    z-index: 1;
    width: 640px;
    height: fit-content;
}

div.timer_page * {
    margin: 0px;
    margin-bottom: 8px;
}

div.timer_page li:last-child {
    margin-bottom: 0px;
}

div.timer_page ul {
    padding-left: 0px;
    margin-bottom: 0px;
}